body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(25, 25, 25);
  color: rgb(228, 228, 228);
  margin: 5rem;
}

h1 {
  font-size: 3rem;
}

p {
  text-align: center;
}

.content {
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.scores-count {
  display: flex;
  gap: 6rem;
}

.profile-img-container {
  width: 200px;
  padding: 0.2rem;
  background: rgb(108, 108, 108);
  border-radius: 50%;
  position: relative;
}

.profile-img-container img {
  border-radius: 50%;
}

.played-moves-container {
  width: 72px;
  height: 72px;
  background: rgb(40, 40, 40);
  border: 2px solid gray;
  border-radius: 50%;
  position: absolute;
  right: -12px;
  bottom: 20px;
}

.computer .played-moves-container {
  left: -12px;
}

.player,
.computer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score {
  font-size: 3rem;
}

.text-display {
  display: none;
  border: 1px solid rgb(108, 108, 108);
  padding: 2rem;
  border-radius: 1rem;
}

.buttons-container {
  display: flex;
  gap: 2rem;
}

button {
  border-radius: 50%;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
  background: rgb(38, 41, 38);
}

button:hover {
  background: rgb(60, 65, 60);
  scale: 1.1;
}

.moves-pic-container {
  width: 120px;
  border-radius: 50%;
  border: 4px solid rgb(108, 108, 108);
  padding: 1rem;
}
